<div class="owner">
  {{!-- <img class="img-circle" src="{{image}}" alt="{{name}}"> --}}
  <h2>{{name}}</h2>
  {{!-- need to add in pokemon stats to display below --}}
  <div>Team: {{team}}</div>  
  <div>Motto: {{motto}}</div>  
 
  {{!-- <a href="/pokemon-profile/{{id}}/edit">Edit</a> --}}
  <a href="/">Home</a>
</div>