<h2>Pokémon Profile</h2>
<div class="pokemon">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <h2>{{name}}</h2>
  {{!-- need to add in pokemon stats to display below --}}
  <div>
  
  <div>Type: {{types}}</div>
  <div>Species: {{species}}</div>  
  <div>Height: {{height}}</div>  
  <div>Weight: {{weight}}</div> 
  <div>Japanese Name: {{japanese-name}}</div>  
  <div>Popularity: {{popularity}}</div> 
  <div>Power: {{power}}</div> 
  <div>Trainer: {{owner.name}}</div>
   
  <a href="/pokemon/{{id}}/edit">Edit</a>
  <a href="/">Home</a>
  <a href="/owner/{{ownerid}}">Owner</a>

</div>